<div class="container-fluid mt-4">
  <h1 class="text-center py-3 text-primary">TRACKING XYZ</h1>

  <div class="container-fluid">
    <hr>
    <h3>Usuario</h3>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-10  py-1">
        <input type="text" class="form-control" placeholder="Rol" aria-label="search"
          aria-describedby="basic-addon1" [(ngModel)]="this.Rol" (input)="listarUsuario()">
      </div>
      <div class="col-sm-12 col-md-2 col-lg-2 py-1">
        <button type="submit" class="btn w-100" (click)="listarUsuario()">Buscar</button>
      </div>
    </div>
    <hr>
  </div>
  <div class="table-responsive container-fluid">
    <table class="table table-bordered  table-sm  table-striped text-center ">
      <thead>
        <tr>
          <th>idUsuario</th>
          <th>Nombre</th>
          <th>telefono</th>
          <th>puesto</th>
          <th>idRol</th>
          <th>Rol</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of dataSourceUsuario">
          <td>{{usuario.idPersona}}</td>
          <td>{{usuario.Correo}}</td>
          <td>{{usuario.telefono}}</td>
          <td>{{usuario.puesto}}</td>
          <td>{{usuario.idRol}}</td>
          <td>{{usuario.Rol}}</td>   
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container-fluid">
    <hr>
    <h3>Productos</h3>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-10  py-1">
        <input type="text" class="form-control" placeholder="Rol" aria-label="search"
          aria-describedby="basic-addon1" [(ngModel)]="this.Sku" (input)="listarProducto()">
      </div>
      <div class="col-sm-12 col-md-2 col-lg-2 py-1">
        <button type="submit" class="btn w-100" (click)="listarProducto()">Buscar</button>
      </div>
    </div>
    <hr>
  </div>
  <hr>
  <div class="table-responsive container-fluid">
    <table class="table table-bordered  table-sm  table-striped text-center ">
      <thead>
        <tr>
          <th>sku</th>
          <th>nombre</th>
          <th>stock</th>
          <th>idTipoProducto</th>
          <th>etiquetas</th>
          <th>precio</th>
          <th>idUnidadMedida</th>
          <th>tipo</th>
          <th>unidadMedida</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of dataSourceProducto">
          <td>{{producto.sku}}</td>
          <td>{{producto.nombre}}</td>
          <td>{{producto.stock}}</td>
          <td>{{producto.idTipoProducto}}</td>
          <td>{{producto.etiquetas}}</td>
          <td>{{producto.precio}}</td>
          <td>{{producto.idTipoProducto}}</td>
          <td>{{producto.etiquetas}}</td>
          <td>{{producto.precio}}</td>   
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container-fluid">
    <hr>
    <h3>Detalle de Pedidos</h3>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-2  py-1">
        <input type="text" class="form-control" placeholder="Orden, documento" aria-label="search"
          aria-describedby="basic-addon1" [(ngModel)]="this.Pedido">
      </div>
      <div class="col-sm-12 col-md-1 col-lg-1 pt-2 ps-3">
        <label for="dateInit" class="form-label ">Inicio</label>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-2 py-1">
        <input type="date" class="form-control" aria-label="search" aria-describedby="basic-addon1" id="dateInit"
          [(ngModel)]="dataSourceParamsList.dateInit" />
      </div>
      <div class="col-sm-12 col-md-1 col-lg-1 pt-2 ps-3">
        <label for="dateInit" class="form-label ">Fin</label>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-2 py-1">
        <input type="date" class="form-control" placeholder="Orden, documento" aria-label="search"
          aria-describedby="basic-addon1" id="dateInit" [(ngModel)]="dataSourceParamsList.dateEnd" />
      </div>
      <div class="col-sm-12 col-md-2 col-lg-2 py-1">
        <button type="submit" class="btn w-100" (click)="listarPedidoDetalle()">Buscar</button>
      </div>
    </div>
    <hr>
  </div>
  <hr>
  <div class="table-responsive container-fluid">
    <table class="table table-bordered  table-sm  table-striped text-center">
      <thead>
        <tr>
          <th>numeroPedido</th>
          <th>fechaPedido</th>
          <th>fechaRecepcion</th>
          <th>fechaDespacho</th>
          <th>fechaEntrega</th>
          <th>sku</th>
          <th>nombre</th>
          <th>cantidad</th>
          <th>precio</th>
          <th>total</th>
          <th>vendedor</th>
          <th>repartidor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedido of dataSourcePedidoDetalle">
          <td>{{pedido.numeroPedido}}</td>
          <td>{{pedido.fechaPedido}}</td>
          <td>{{pedido.fechaRecepcion}}</td>
          <td>{{pedido.fechaDespacho}}</td>
          <td>{{pedido.fechaEntrega}}</td>
          <td>{{pedido.sku}}</td>
          <td>{{pedido.nombre}}</td>
          <td>{{pedido.cantidad}}</td>
          <td>{{pedido.precio}}</td> 
          <td>{{pedido.total}}</td>
          <td>{{pedido.vendedor}}</td>
          <td>{{pedido.repartidor}}</td>   
        </tr>
      </tbody>
    </table>
  </div>


  <div class="container-fluid">
    <hr>
    <h3>Usuario</h3>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-2  py-1">
        <input type="text" class="form-control" placeholder="Orden, documento" aria-label="search"
          aria-describedby="basic-addon1" [(ngModel)]="dataSourceParamsList.text">
      </div>
      <div class="col-sm-12 col-md-1 col-lg-1 pt-2 ps-3">
        <label for="dateInit" class="form-label ">Inicio</label>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-2 py-1">
        <input type="date" class="form-control" aria-label="search" aria-describedby="basic-addon1" id="dateInit"
          [(ngModel)]="dataSourceParamsList.dateInit" />
      </div>
      <div class="col-sm-12 col-md-1 col-lg-1 pt-2 ps-3">
        <label for="dateInit" class="form-label ">Fin</label>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-2 py-1">
        <input type="date" class="form-control" placeholder="Orden, documento" aria-label="search"
          aria-describedby="basic-addon1" id="dateInit" [(ngModel)]="dataSourceParamsList.dateEnd" />
      </div>
      <div class="col-sm-12 col-md-2 col-lg-2 py-1">
        <button type="submit" class="btn w-100">Buscar</button>
      </div>
    </div>
    <hr>
  </div>
  <hr>
  <div class="table-responsive container-fluid">
    <table class="table table-bordered  table-sm  table-striped text-center ">
      <thead>
        <tr class="">
          <th colspan="3">ORDEN</th>
          <th colspan="3">TOMA DE MUESTRA</th>
          <th colspan="3">LABORATORIO</th>
          <th colspan="3">EQUIPO MEDICO</th>
          <th colspan="3">VALIDACION MEDICA</th>
        </tr>
        <tr>
          <th>Orden</th>
          <th>Area</th>
          <th>Paciente</th>
          <th>Usuario</th>
          <th>Fecha</th>
          <th>Estado</th>
          <th>Usuario</th>
          <th>Fecha</th>
          <th>Estado</th>
          <th>Usuario</th>
          <th>Fecha</th>
          <th>Estado</th>
          <th>Usuario</th>
          <th>Fecha</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
  </div>
</div>
<div class="container_option">
  <input type="checkbox" id="btn-mas" style="visibility: hidden;">
  <div class="redes">
    <a href="#" data-bs-toggle="modal" data-bs-target="#cerrarsesion"><img src="../../../../assets/poder.png"
        width="38px" alt=""></a>
  </div>
  <div class="btn-mas">
    <label for="btn-mas"><img src="../../../../assets/mas.png" width="38px" alt=""></label>
  </div>
</div>

<div class="modal fade" id="cerrarsesion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Cerrar sesion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 py-2">
            <div class="col-12 py-2">
              <div class="form-check form-switch">
                <p>¿Estás seguro de cerrar sesion?</p>
              </div>
            </div>
          </div>

          <div class="pt-3">
            <div class="row">

              <div class="col-12 text-end">
                <button type="submit" class="btn mx-2">Cerrar</button>
                <button type="submit" class="btn mx-2" data-bs-dismiss="modal" aria-label="Close"
                  style="background-color: rgb(170, 167, 165);border-color:  rgb(170, 167, 165);">Cancelar</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>